* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

body {
  background-color: #fff;
  background-image: url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  /* background-color: #f3f5f6; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px; */
  border-radius: 8px;
  /* border: 1px solid white; */
  width: 880px;
  height: 410px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  /* box-shadow: rgba(129, 129, 129, 0.2) 0px 4px 9px; */
}

.main_container {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  height: 90%;
  width: 100%;
}

.main_title {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_title > h1 {
  color: rebeccapurple;
  font-weight: 700;
}

.main_leftContainer {
  width: 30%;

  margin: 10px 10px 10px 0px;
}

.searchFrom {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.main_searchCityList {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;

  justify-content: start;
  align-items: flex-start;
  width: 80%;
}

.main_searchCityList button {
  flex-basis: 100%;
  padding: 5px;
  margin: 5px;
}

.main_rightContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.main_cityWeather {
  width: 100%;
  margin: 10px;
}

.main_cityWeather > h6 {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  margin: 5px 0;
}

.currentUVIndex {
  padding: 3px;
  border-radius: 8px;
}

.cityWeahterTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.cityWeahterTitle .currentDate {
  margin: 0 5px;
}

.main_forecast {
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.main_forecastTitle {
  height: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.main_forecast5Days {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  height: 80%;
}

.main_dayForecast {
  height: 100%;
  background-color: aqua;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  margin-right: 10px;
  width: 30%;
  border-radius: 8px;
  padding: 5px;
}

.main_dayForecast > h3,
.main_dayForecast > span,
.main_dayForecast > h6 {
  padding: 2px 0;
}

.background-red {
  background-color: red;
}

.background-yellow {
  background-color: yellow;
}

.background-green {
  background-color: green;
}
